.body_background{
     background-image: url("background.jpg");
        background-position: center;
        background-size: cover;
}
#output{
    background:rgb(252, 0, 210); 
    border-radius: 10px;
    border-top: 1o solid #ff26ed;
    padding: 10px;
    float: none;
    text-align: left;   
}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#score_display{
    color: white;
}
.ss{
    font-size: 25px;
    font-family: Arialblack;
    font-weight: bold;
}